[Desktop Entry]
Type=Application
Version=1.0
Name=Stechuhr
Comment=Stechuhr Programm für die Festhalle
Path=/home/festhalle/stechuhr/
Exec=systemd-cat -t stechuhr /home/festhalle/stechuhr/target/release/stechuhr
Icon=/home/festhalle/stechuhr/resources/clock.svg
Terminal=false
Categories=Office
StartupNotify=false
